$width-nav:290px;
$height-nav-tablet:80px;

$mobile-width:750px;
$tablet-width:990px;

$white-color:white;
$black-color:#000000;
$gray-color:#7D7D7D;
$primary-color:#78CCCD;
$second-color:#3BA1A2;
$blue-color:#0084FF;
$brown-color:#A94442;
$orange-color:#C98F08;

$background-orange:rgba(239, 150, 7,0.6);
$background-gray:#D8D8D8;
